@import '../../sass/utils/mixin';

.sectionContacts {
  padding-top: 100px;
  padding-bottom: 30px;

  @include mq(desk) {
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: var(--backgroundColor);
  }
}

.contacts__container {
  @include mq(desk) {
    display: flex;
    justify-content: space-between;
  }
}

.contactsIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  @include mq(desk) {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

.address__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  @include mq(desk) {
    margin-bottom: 30px;
  }
}

.contactInfo__container {
  @include mq(desk) {
    width: 40%;
  }
}

.addressList {
  margin-bottom: 15px;
  @include mq(desk) {
    margin-bottom: 0px;
  }
}

.addressList__itemLink,
.workTimeContacts,
.addressList__itemLinkTelegram,
.addressList__itemLinkWhatsApp,
.addressList__itemLinkViber {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  @include mq(desk) {
    font-size: 20px;
  }
}

.addressList__item {
  margin-bottom: 5px;
  @include mq(desk) {
    margin-bottom: 10px;
  }
}

.addressList__item:last-child {
  margin-bottom: 0px;
}

.addressList__itemLinkTelegram,
.addressList__itemLinkWhatsApp,
.addressList__itemLinkViber {
  display: flex;
  align-items: center;
  font-size: 20px;
  @include mq(desk) {
    font-size: 25px;
  }
}

.addressList__itemLinkTelegram {
  color: #0088cc;
}

.addressList__itemLinkWhatsApp {
  color: #25d366;
}

.addressList__itemLinkViber {
  color: #665cac;
}
