@import '../../sass/utils/mixin';

.sectionRitualGoodsDescription {
  background-color: rgba(212, 182, 105, 0.7);
  padding: 20px 0;
  margin-bottom: 30px;

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.05),
    0 -10px 20px rgba(0, 0, 0, 0.05);

  @include mq(desk) {
    background-color: rgba(212, 182, 105, 0.7);
    padding: 50px 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}

.ritualGoodsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(desk) {
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
}

.image {
  height: auto;
  border-radius: 10px;

  @include mq(desk) {
    height: 420px;
    flex-shrink: 0;
  }
}

.ritualGoodsDescription {
  padding: 10px;

  @include mq(desk) {
    flex: 1;
    padding: 0;
  }
}

.titleRitualGoods {
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--backgroundColor);
  margin-bottom: 15px;

  @include mq(desk) {
    font-size: 28px;
  }
}

.descriptionRitualGoods {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primaryTextColor);
  margin-bottom: 15px;

  @include mq(desk) {
    margin-bottom: 20px;
  }
}

.ourBenefitsTitle {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primaryTextColor);
}

.ourBenefitsList {
  padding-left: 20px;
  margin-bottom: 15px;

  li {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    list-style: disc;
    margin-bottom: 5px;
    color: var(--primaryTextColor);
  }
}

.buttonRitualGoods {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 15.5px;
  color: #666;
  background-color: var(--backgroundColor);
  padding: 10px 20px;
  border: 1px solid var(--backgroundColor);
  border-radius: 20px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: #666;
    color: #fff;
  }
}