@import '../../sass/utils/mixin';

.sectionArtificialWreaths {
    padding-top: 100px;
    padding-bottom: 30px;

    @include mq(desk) {
        padding-top: 130px;
        padding-bottom: 50px;
        background-color: var(--backgroundColor);
    }
}

.artificialWreathsImgList {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    @include mq(desk) {
        gap: 20px;
    }
}