@import '../../sass/utils/mixin';

.sectionHero {
    @include mq(desk) {
        background-image: url(../../images/HeroImages.jpeg);
    }
}

.hero__container {
    @include mq(desk) {
        background-color: rgba(0, 0, 0, .5);
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.hero__address {
    @include mq(desk) {
        height: 218px;
    }
}

.hero__title {
    @include mq(desk) {
        width: 675px;
    }
}