@import '../../sass/utils/mixin';

.sectionHero {
  padding-top: 72px;
  background-image: url(../../images/hero/HeroImages.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @include mq(desk) {
    padding-top: 100px;
  }
}

.hero__background {
  @include mq(desk) {
    margin: 0 auto;
    width: 1080px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.hero__container {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__address {
  @include mq(desk) {
    height: 218px;
    padding-left: 15px;
    border-left: 1px solid #fff;
  }
}

.hero__titleContainer {
  @include mq(desk) {
    width: 675px;
  }
}

.title__hero {
  font-size: 24px;
  font-weight: 400;
  color: var(--backgroundColor);
  line-height: 1.25;
  margin-bottom: 20px;
  @include mq(desk) {
    font-family: Lato;
    font-size: 27px;
    line-height: 1.25;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
  }
}

.title__heroSpan {
  color: var(--orangeTextColor);
}

.btnConsultation {
  font-size: 16px;
  background: #fff;
  color: var(--orangeTextColor);
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  @include mq(desk) {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #446084;
    color: #fff;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
  }
}

.btnConsultation {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    @include mq(desk) {
      background-color: #334862;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &:focus {
    @include mq(desk) {
      background-color: #334862;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.addressList {
  margin-bottom: 20px;
  @include mq(desk) {
    margin-left: 15px;
  }
}

.addressList__item {
  color: #fff;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  @include mq(desk) {
    font-family: Lato;
    line-height: 1.6;
  }
}

.heroPhonesList {
  @include mq(desk) {
    margin-left: 15px;
  }
}

.heroPhonesList__item {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  @include mq(desk) {
    font-family: Lato;
    line-height: 1.6;
  }
}
