.title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--secondTextColor);
  margin-bottom: 15px;
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--primaryTextColor);
  margin-bottom: 15px;
}

.list {
  padding-left: 20px;
}

.list__item {
  list-style: decimal;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--primaryTextColor);
  margin-bottom: 3px;
}

.descriptionItalic {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  color: var(--secondtitleColor);
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid #446084;
}
