@import '../../sass/utils/mixin';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
}

.modalContent {
  background: var(--backgroundColor);
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 100%;

  @include mq(desk) {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-radius: 20px;
  }
}

.buttonClose {
  width: 100%;
  height: 100%;
  color: var(--orangeTextColor);
}

.modalClose {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
}

.consultationModalWindow__svg {
  width: 30px;
  height: 30px;
  color: var(--orangeTextColor);
  margin-right: 15px;
}

.contactContainer {
  display: flex;
}

.contactContainer:not(:last-child) {
  margin-bottom: 15px;
}

.consultationModalWindow__title {
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--titleTextColor);
  margin-bottom: 10px;
}

.addressList__item,
.workPhoneNumbersList__item {
  padding: 3px 0px;
}

.addressList__itemLink,
.workTimeDescription,
.workPhoneNumbersList__itemLink {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondtitleColor);
  padding: 3px 0px;
}

.imgDekorationDesktop {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
}

.imgDekorationDesktopContainer {
  display: none;

  @include mq(desk) {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
  }
}

.imgDekorationDesktopOverlay {
    @include mq(desk) {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(134, 109, 0, 0.506);
      border-radius: 20px;
    }
}