@import '../../sass/utils/mixin';

.sectionFuneralSet {
    padding-top: 100px;
    padding-bottom: 30px;

    @include mq(desk) {
        padding-top: 130px;
        padding-bottom: 50px;
        background-color: var(--backgroundColor);
    }
}

.funeralSet__list {
    @include mq(desk) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        margin-bottom: 15px;
    }
}

.funeralSet__listItem {
    @include mq(desk) {
        width: 100%;
    }
}

.funeralSet__listItemImage {
    width: 100%;
    height: auto;
}