@import '../../sass/utils/mixin';

.sectionRitualGoods {

    @include mq(desk) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.ritualGoodsTitle {
    @include mq(desk) {
        font-size: 26px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 40px;
        color: rgb(85, 85, 85);
    }
}

.ritualGoodsList {
    @include mq(desk) {
        margin: 0 auto;
        width: 1080px;
        display: flex;
        justify-content: space-between;
    }
}

.ritualGoodsList__item {
    @include mq(desk) {
        width: 240px;
        height: 310px;
        background-color: rgb(234, 234, 234);
        padding: 12px;

        &:hover .ritualGoodsList__itemDesctioption,
        &:focus .ritualGoodsList__itemDesctioption {
            color: rgb(197, 170, 103);
        }
    }
}

.ritualGoodsList__item:hover {
    scale: 1.03;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ritualGoodsList__itemDesctioption {
    @include mq(desk) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ritualGoodsList__itemImg {
    @include mq(desk) {
        margin-bottom: 25px;
    }
}

.ritualGoodsList__itemDesctioption {
    @include mq(desk) {
        font-family: Lato;
        font-size: 28px; 
        font-weight: 400;
        color: rgb(119, 119, 119);

    }
}