@import '../../sass/utils/mixin';

.sectionRitualGoods {
    padding-top: 30px;
    padding-bottom: 30px;
    @include mq(desk) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.ritualGoodsTitle {
    font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        color: var(--secondTextColor);
    @include mq(desk) {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 40px;
    }
}

.ritualGoodsList {
    display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    @include mq(desk) {
        margin: 0 auto;
        width: 1080px;
        display: flex;
        justify-content: space-between;
    }
}

.ritualGoodsList__item {
    padding: 10px;
    background-color: rgb(234, 234, 234);
    @include mq(desk) {
        width: 240px;
        height: 310px;
        padding: 12px;

        &:hover .ritualGoodsList__itemDesctioption,
        &:focus .ritualGoodsList__itemDesctioption {
            color: rgb(197, 170, 103);
        }
    }
}

.ritualGoodsList__item:hover {
    scale: 1.03;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ritualGoodsList__itemDesctioption {
    @include mq(desk) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ritualGoodsList__itemImg {
    margin-bottom: 16px;
    @include mq(desk) {
        margin-bottom: 25px;
    }
}

.ritualGoodsList__itemDesctioption {
    font-size: 26px;
    color: var(--primaryTextColor);
    text-align: center;
    margin-bottom: 40px;
    @include mq(desk) {
        font-family: Lato;
        font-size: 28px; 
        font-weight: 400;
    }
}