@import '../../sass/utils/mixin';

.languageSelect {
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;

  .selected {
    border-radius: 4px;
    border: none;
    color: var(--backgroundColor);
    background: rgba(39, 31, 28, 1);
    width: 80px;
    height: 40px;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
  }

  .arrow {
    font-size: 12px;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(240, 231, 218, 1);
    border: 1px solid rgba(191, 119, 66, 1);
    border-radius: 8px;
    padding: 0;
    z-index: 10;
  }

  .option {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--brownBG);

    &:hover,
    &.active {
      color: var(--copperYellow);
    }
  }
}

.currentLanguage {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 24px;
  padding: 8px 4px;
  text-align: center;
}

.iconSelectLaunguage {
  width: 40px;
  height: 40px;
}
