@import '../../sass/utils/mixin';

.header {
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  background-color: var(--backgroundColor);
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid var(--secondTextColor);
}

.header__logo {
  width: 150px;

  @include mq(desk) {
    width: 244px;
  }
}

.header__container {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(desk) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
