@import '../../sass/utils/mixin';

.menu__list {
  @include mq(mob) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @include mq(desk) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 530px;
    height: 40px;
  }
}

.menu__list_link {
  width: 190px;
  display: flex;
  transform: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  border-radius: 4px;
  background-color: var(--backgroundColor);
  box-shadow: 2px 2px 15px 4px rgba(107, 103, 102, 0.15);

  @include mq(desk) {
    width: auto;
    line-height: 1.38;
    margin-bottom: 0px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
  }
}

.menu__list_link:last-child {
  margin-bottom: 0px;
}

.menu__list_item {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include mq(mob-only) {
    padding: 12px;
  }

  @include mq(desk) {
    color: var(--backgroundColor);
  }
}

.menu__list_item:not(:last-child) {
  @include mq(tab) {
    margin-right: 10px;
  }
}

.menu__list_item a:hover,
.menu__list_item a:focus {
  border-bottom: 5px solid var(--primaryTextColor);
  margin-bottom: -5px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .navBar .navigation {
    display: none;
  }
}

@media (min-width: 769px) {
  .navBar .navigation {
    display: flex;
  }

  .navBar .mobileNavigation {
    display: block;
  }
}

@media (min-width: 1439px) {
  .navBar .mobileNavigation {
    display: none;
  }
}

.navBar .mobileNavigation .hamburgerMenu {
  cursor: pointer;
}

.hamburgerMenu {
  width: 42px;
  height: 42px;
  color: var(--primaryTextColor);
  cursor: pointer;
}

.themeMenu {
  width: 40px;
  height: 40px;
  cursor: pointer;

  @include mq(desk) {
    margin-right: 0px;
  }
}

.menuList__container {
  padding-bottom: 16px;
  width: 360px;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(desk) {
    position: unset;
    transform: none;
    padding-bottom: 0px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include mq(tab) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.bgShadow {
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 30%);
  z-index: 9;

  @include mq(desk) {
    background-color: transparent;
    top: 30px;
    height: 40px;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }
}
