@import '../../sass/utils/mixin';

.sectionFeneralPrice {
  padding-top: 30px;
  padding-bottom: 30px;
  @include mq(desk) {
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

.feneralPriceTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include mq(desk) {
    width: 1080px;
    margin: 0 auto 30px auto;
  }
}

.feneralPriceTitleContainerSvg {
  width: 60px;
  height: 68px;
  margin-right: 16px;
  @include mq(desk) {
    width: 62px;
    height: 60px;
  }
}

.funeralPriceTitle {
  font-family: Lato, sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: var(--secondTextColor);
  @include mq(desk) {
    font-size: 25.6px;
    line-height: 1.3;
    padding-top: 24px;
  }
}

.feneralPriceList {
  margin-bottom: 30px;
  @include mq(desk) {
    width: 1080px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
  }
}

.feneralPriceList__itemContainer {
  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.feneralPriceList__item {
  background-color: rgb(234, 234, 234);
  padding: 5%;
  @include mq(desk) {
    width: 330px;
    height: 500px;
    padding: 16.5px;
  }
}

.feneralPriceList__item:not(:last-child) {
  margin-bottom: 30px;
  @include mq(desk) {
    margin-bottom: 0px;
  }
}

.feneralPriceList__itemTitle {
  font-family: Lato, sans-serif;
  font-size: 28.8px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: var(--primaryTextColor);
  margin-bottom: 20px;
  @include mq(desk) {
    text-align: start;
    margin-bottom: 0px;
  }
}

.feneralPriceList__itemPrice {
  width: 100%;
  height: 39px;
  border-radius: 50px;
  background-color: rgb(68, 96, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 0.86;
  color: #ffffff;
  margin-bottom: 16px;
  @include mq(desk) {
    width: 133px;
    margin-bottom: 0px;
  }
}

ul li.feneralPriceList__itemListItem {
  font-family: Lato, sans-serif;
  font-size: 16px;
  list-style-type: none;
  color: var(--primaryTextColor);
  padding: 3px 0 3px 25px;
  position: relative;
}

ul li.feneralPriceList__itemListItem:before {
  content: '✔';
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 800;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
}

.discontForRefugees {
  font-family: Lato, sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
  color: var(--primaryTextColor);
  @include mq(desk) {
    line-height: 1;
    margin: 0 auto;
    width: 1080px;
  }
}

.redStar {
  color: #d83131;
}
