@import '../../sass/utils/mixin';

.sectionFeneralPrice {
  padding: 40px 0;

  @include mq(desk) {
    padding: 60px 0;
  }
}

.feneralPriceTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.feneralPriceTitleContainerSvg {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.funeralPriceTitle {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--secondTextColor);

  @include mq(desk) {
    font-size: 26px;
  }
}

.feneralPriceList {
  display: grid;
  gap: 24px;
  margin-bottom: 40px;

  grid-template-columns: 1fr;

  @include mq(tab) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(desk) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feneralPriceList__item {
  background-color: rgb(234, 234, 234);
  padding: 24px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.feneralPriceList__itemContainer {
  margin-bottom: 20px;

  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.feneralPriceList__itemTitle {
  font-family: Lato, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: var(--primaryTextColor);
  text-align: center;
  margin-bottom: 12px;

  @include mq(desk) {
    text-align: left;
    margin-bottom: 0;
  }
}

.feneralPriceList__itemPrice {
  width: 100%;
  max-width: 160px;
  height: 40px;

  border-radius: 50px;
  background-color: rgb(68, 96, 132);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #fff;

  margin: 0 auto 15px auto;

  @include mq(desk) {
    margin: 0;
  }
}

.feneralPriceList__itemListItem {
  font-family: Lato, sans-serif;
  font-size: 16px;
  list-style: none;
  color: var(--primaryTextColor);

  padding: 4px 0 4px 24px;
  position: relative;
}

.feneralPriceList__itemListItem::before {
  content: '✔';
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  left: 0;
  top: 0;
}

.discontForRefugees {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: var(--primaryTextColor);

  text-align: center;

  @include mq(desk) {
    font-size: 22px;
  }
}

.redStar {
  color: #d83131;
}