@import '../../sass/utils/mixin';

.sectionRitualAgent {
  padding-top: 100px;
  padding-bottom: 30px;
  @include mq(desk) {
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: var(--backgroundColor);
  }
}

.maintitle__container {
  background-color: var(--secondtitleColor);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @include mq(desk) {
    justify-content: flex-start;
  }
}

.maintitle {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: var(--backgroundColor);

  @include mq(desk) {
    font-size: 28px;
    padding: 20px;
  }
}

.mainsubtitle {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--primaryTextColor);
  margin-bottom: 25px;
}

.banerRitualAgent {
  width: 100%;
  margin: 0 auto;
}

.banerRitualAgent__container {
  background-color: #446084;
  margin-bottom: 15px;

  @include mq(desk) {
    display: flex;
      align-items: center;
      margin-bottom: 30px;
  }
}

.banerRitualAgent__description {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--secondtitleColor);
  padding: 15px;

  @include mq(desk) {
    font-size: 20px;
    padding: 30px;
  }
}

.ritualAgent__description,
.ritualAgentList__item {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--primaryTextColor);
  margin-bottom: 15px;
}

.ritualAgent__title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--secondTextColor);
  margin-bottom: 15px;

  @include mq(desk) {
    font-size: 26px;
  }
}

.ritualAgentList {
  padding-left: 20px;
}

.ritualAgentList__item {
  list-style: decimal;
}

.ritualAgent__descriptionItalic {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  color: var(--secondtitleColor);
  padding-left: 15px;
  padding-right: 15px;
      border-left: 2px solid #446084;
}