@import '../../sass/utils/mixin';

.sectionRitualTransport {
  padding-top: 100px;
  padding-bottom: 30px;

  @include mq(desk) {
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: var(--backgroundColor);
  }
}

.ritualTransport__list {
  display: flex;
  justify-content: space-evenly;
}

.ritualTransport__img {
  @include mq(desk) {
    width: 600px;
  }
}
