@import '../../sass/utils/mixin';

.sectionOrganizationFuneral {
  background-color: rgba(212, 182, 105, 0.7);
  padding: 40px 0;
}

.organizationFuneralContainer {
  display: grid;
  gap: 30px;

  @include mq(desk) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.organizationFuneralImage {
  width: 100%;
  height: auto;
  border-radius: 6px;

  @include mq(desk) {
    height: 420px;
    object-fit: cover;
  }
}

.organizationFuneralDescription {
  padding: 0;

  @include mq(desk) {
    padding: 20px;
  }
}

.titleOrganizationFuneral {
  font-family: Lato, sans-serif;
  font-size: 22px;
  color: var(--backgroundColor);
  font-weight: 700;
  margin-bottom: 16px;

  @include mq(desk) {
    font-size: 28px;
  }
}

.descriptionOrganizationFuneral {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primaryTextColor);
  margin-bottom: 14px;
}

.ourBenefitsTitle {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--primaryTextColor);
  margin-bottom: 10px;
}

.ourBenefits__list {
  padding-left: 20px;
  margin-bottom: 15px;
}

.ourBenefits__listItem {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--primaryTextColor);
  margin-bottom: 3px;
  list-style: disc;
}

.buttonOrganizationFuneral {
  display: inline-block;

  font-family: Lato, sans-serif;
  font-size: 15px;

  color: #666;
  background-color: var(--backgroundColor);

  padding: 10px 22px;
  border-radius: 20px;
  border: 1px solid var(--backgroundColor);

  transition: 0.3s;
}

.buttonOrganizationFuneral:hover {
  background-color: #666;
  color: var(--backgroundColor);
}