@import '../../sass/utils/mixin';

@import '../../sass/utils/mixin';

.sectionOrganizationFuneral {
    @include mq(desk) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.organizationFuneralDescription {
    @include mq(desk) {
        padding: 20px;
    }
}

.organizationFuneralContainer {
    @include mq(desk) {
        width: 1080px;
        display: flex;
        margin: 0 auto;
        background-color: rgba(212, 182, 105, 0.7);
    }
}

.organizationFuneralImage {
    @include mq(desk) {
        width: 604px;
        height: 400px;
        margin-bottom: 20px;
    }
}

.titleOrganizationFuneral {
    @include mq(desk) {
        font-family: Lato, sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.6;
        color: #ffffff;
        margin-bottom: 15px;
    }
}

.descriptionOrganizationFuneral {
    @include mq(desk) {
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: #777777;
        margin-bottom: 20px;
    }
}

.buttonOrganizationFuneral {
    @include mq(desk) {
        font-family: Lato, sans-serif;
        font-size: 15.5px;
        font-weight: 400;
        line-height: 1.6;
        color: #666666;
        background-color: #FFFFFF;
        padding: 10px 20px;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
    }
}

.buttonOrganizationFuneral {
    &:hover,
    &:focus {
        background-color: #666666;
        color: #FFFFFF;
        transition: background-color 0.5s ease;
    }
}